name: CI


on:
push:
branches: [ main ]
pull_request:
branches: [ main ]


jobs:
hola-desde-actions:
name: Mensaje Hola
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4


- name: Imprimir mensaje
run: echo "Hola desde GitHub Actions"